<div class="card mt-3 px-5 pb-5">
  <!-- Table configuration -->
  <p-toast />
  <p-confirmPopup />
  <p-table
    #dt2
    [value]="users"
    dataKey="id"
    [paginator]="true"
    [rows]="pageSize"
    [rowsPerPageOptions]="[10, 25, 50]"
    styleClass="p-datatable-gridlines"
    [lazy]="true"
    [totalRecords]="totalElements"
    [tableStyle]="{
      'min-width': '75rem',
      'table-layout': 'fixed',
    }"
    (onLazyLoad)="onPageChange($event)"
    (onFilter)="onFilterApplied($event)"
  >
    <!-- Caption  -->
    <ng-template pTemplate="caption">
      <div class="grid">
        <div class="col-6 flex flex-row">
          <p-button
            *ngIf="isSuperAdmin()"
            (onClick)="showDialog()"
            label="Add User"
            class="mx-2"
          />
          <p-button
            class="mx-2"
            label="Clear"
            [outlined]="true"
            icon="pi pi-filter-slash"
            (click)="clear(dt2)"
          />
        </div>
        <div class="col-6 text-right">
          <ng-container *ngIf="activeFilters.length > 0">
            <span class="p-text-secondary">
              <strong>Active Filters:</strong>
              <span *ngFor="let filter of activeFilters; let i = index">
                {{ filter.field | titlecase }}:
                <span *ngIf="commonService.isArray(filter.value)">{{
                  filter.value.join(", ")
                }}</span>
                <span *ngIf="!commonService.isArray(filter.value)">{{
                  filter.value
                }}</span>
                <span *ngIf="i < activeFilters.length - 1">|</span>
              </span>
            </span>
          </ng-container>
        </div>
      </div>

      <app-user-dialog
        [(visible)]="visible"
        [editMode]="editMode"
        [userToBeInserted]="userToBeInserted"
        (save)="onSave($event.user, $event.editMode)"
      ></app-user-dialog>
    </ng-template>

    <!-- Table Header with Pop-Up Filters -->
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5%" class="px-2 text-center">ID</th>
        <th style="width: 10%" class="px-0 text-center">
          First Name
          <p-columnFilter
            type="text"
            field="firstname"
            display="menu"
            placeholder="Filter by First Name"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 10%" class="px-0 text-center">
          Surname
          <p-columnFilter
            type="text"
            field="surname"
            display="menu"
            placeholder="Filter by Surname"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 12%" class="px-0 text-center">
          Username
          <p-columnFilter
            type="text"
            field="username"
            display="menu"
            placeholder="Filter by Username"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 14%" class="px-0 text-center">
          Phone Number
          <p-columnFilter
            type="text"
            field="phoneNumber"
            display="menu"
            placeholder="Filter by Phone Number"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 16%" class="px-0 text-center">
          Email
          <p-columnFilter
            type="text"
            field="email"
            display="menu"
            placeholder="Filter by Email"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 12%" class="px-0 text-center">
          Birthdate
          <p-columnFilter
            type="date"
            field="birthdate"
            display="menu"
            placeholder="Filter by Birthdate"
            [showOperator]="false"
            [showAddButton]="false"
            [showApplyButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 12%" class="px-0 text-center">
          Role
          <p-columnFilter
            field="role"
            matchMode="equals"
            display="menu"
            placeholder="Filter by Role"
            [showOperator]="false"
            [showAddButton]="false"
            [showMatchModes]="false"
            [showApplyButton]="false"
          >
            <ng-template pTemplate="filter" let-filter="filterCallback">
              <p-multiSelect
                [options]="roles"
                [(ngModel)]="selectedRoles"
                placeholder="Select Roles"
                [style]="{ 'min-width': '12rem', width: '100%' }"
                (onChange)="filter($event.value)"
              ></p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th style="width: 5%" class="px-0 text-center">Edit</th>
        <th style="width: 5%" class="px-0 text-center">Del</th>
      </tr>
    </ng-template>

    <!-- Table Body -->
    <ng-template pTemplate="body" let-user>
      <tr class="text-center">
        <td class="text-center">{{ user.id }}</td>
        <td class="text-center">{{ user.firstname }}</td>
        <td class="text-center">{{ user.surname }}</td>
        <td class="text-center">{{ user.username }}</td>
        <td class="text-center">{{ user.phoneNumber }}</td>
        <td
          class="text-center"
          style="
            word-wrap: break-word;
            white-space: normal;
            overflow-wrap: break-word;
          "
        >
          {{ user.email }}
        </td>
        <td class="text-center">{{ user.birthdate | date }}</td>
        <td class="text-center">{{ user.role }}</td>
        <td>
          <div class="flex justify-content-center">
            <p-button
              [disabled]="!isSuperAdmin()"
              [rounded]="true"
              (onClick)="showDialog(user)"
              text="Edit"
              icon="pi pi-pencil"
              severity="info"
              aria-label="edit"
            />
          </div>
        </td>
        <td>
          <div class="flex justify-content-center">
            <p-button
              [disabled]="!isSuperAdmin()"
              icon="pi pi-trash"
              [rounded]="true"
              text="Delete"
              severity="danger"
              aria-label="Delete"
              (click)="deleteUserRow($event, user.id)"
            />
          </div>
        </td>
      </tr>
    </ng-template>

    <!-- Empty Table Message -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="text-center">No users found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
