<div class="card mt-3 px-5 pb-5">
  <!-- Table configuration -->
  <p-toast />
  <p-confirmPopup />
  <p-table
    #dt2
    [value]="assets"
    dataKey="id"
    [paginator]="true"
    [rows]="pageSize"
    [rowsPerPageOptions]="[10, 25, 50]"
    styleClass="p-datatable-gridlines"
    [lazy]="true"
    [totalRecords]="totalElements"
    [tableStyle]="{
      'min-width': '75rem',
      'table-layout': 'fixed',
      width: '100%'
    }"
    (onLazyLoad)="onPageChange($event)"
    (onFilter)="onFilterApplied($event)"
  >
    <!-- Caption  -->
    <ng-template pTemplate="caption">
      <div class="grid">
        <div class="col-6 flex flex-row">
          <p-button (onClick)="showDialog()" label="Add Asset" class="mx-2" />
          <p-button
            class="mx-2"
            label="Clear"
            [outlined]="true"
            icon="pi pi-filter-slash"
            (click)="clear(dt2)"
          />
        </div>
        <div class="col-6 text-right">
          <ng-container *ngIf="activeFilters.length > 0">
            <span class="p-text-secondary">
              <strong>Active Filters:</strong>
              <span *ngFor="let filter of activeFilters; let i = index">
                {{ filter.field | titlecase }}:
                <span *ngIf="commonService.isArray(filter.value)">{{
                  filter.value.join(", ")
                }}</span>
                <span *ngIf="!commonService.isArray(filter.value)">{{
                  filter.value
                }}</span>
                <span *ngIf="i < activeFilters.length - 1">|</span>
              </span>
            </span>
          </ng-container>
        </div>
      </div>

      <app-asset-dialog
        [(visible)]="visible"
        [editMode]="editMode"
        [assetToBeInserted]="assetToBeinserted"
        (save)="onSave($event.asset, $event.editMode)"
      ></app-asset-dialog>
    </ng-template>

    <!-- Table Header with Pop-Up Filters -->
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5%" class="px-2 text-center">ID</th>
        <th style="width: 8%" class="px-0 text-center">
          User ID
          <p-columnFilter
            type="numeric"
            field="userID"
            display="menu"
            placeholder="Filter by User ID"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 15%" class="px-0 text-center">
          Model Name
          <p-columnFilter
            type="text"
            field="modelName"
            display="menu"
            placeholder="Filter by Model Name"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 15%" class="px-0 text-center">
          Type
          <p-columnFilter
            type="text"
            field="type"
            display="menu"
            placeholder="Filter by Type"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 15%" class="px-0 text-center">
          Status
          <p-columnFilter
            type="text"
            field="status"
            display="menu"
            placeholder="Filter by Status"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 15%" class="px-0 text-center">
          Cost
          <p-columnFilter
            type="numeric"
            field="cost"
            display="menu"
            placeholder="Filter by Cost"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>

        <th style="width: 5%" class="px-0 text-center">Edit</th>
        <th style="width: 5%" class="px-0 text-center">Del</th>
      </tr>
    </ng-template>

    <!-- Table Body -->
    <ng-template pTemplate="body" let-asset>
      <tr class="text-center">
        <td class="text-center">{{ asset.id }}</td>
        <td class="text-center">{{ asset.userID }}</td>
        <td class="text-center">{{ asset.modelName }}</td>
        <td class="text-center">{{ asset.type }}</td>
        <td class="text-center">{{ asset.status }}</td>
        <td class="text-center">{{ asset.cost }}</td>
        <td>
          <div class="flex justify-content-center">
            <p-button
              [rounded]="true"
              (onClick)="showDialog(asset)"
              text="Edit"
              icon="pi pi-pencil"
              severity="info"
              aria-label="edit"
            />
          </div>
        </td>
        <td>
          <div class="flex justify-content-center">
            <p-button
              icon="pi pi-trash"
              [rounded]="true"
              text="Delete"
              severity="danger"
              aria-label="Delete"
              (click)="deleteAssetRow($event, asset.id)"
            />
          </div>
        </td>
      </tr>
    </ng-template>

    <!-- Empty Table Message -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="text-center">No assets found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
