/* Center align the search bar */
.p-menubar .p-inputgroup {
  margin-left: auto; /* Push search bar to the right */
}
.p-inputgroup input {
  border-radius: 2px 0 0 2px; /* Rounded corners for the input */
}
.p-inputgroup .p-button {
  border-radius: 0 2px 2px 0; /* Rounded corners for the button */
}
.role-display {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding: 0.5rem;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.role-display i {
  margin-right: 0.5rem;
  color: #007ad9;
}

.role-display span {
  font-weight: 300;
  color: #333;
}
