<p-menubar [model]="menuItems" class="shadow-2 surface-0">
  <div class="p-inputgroup ml-auto">
    <!-- <input type="text" pInputText placeholder="Search" /> -->
    <!-- <button
      pButton
      type="button"
      icon="pi pi-search"
      class="p-button-primary"
    ></button> -->
    <div class="role-display">
      <i class="pi pi-user"></i>
      <span>{{ role }}</span>
    </div>
    <p-button
      *ngIf="isLoggedIn()"
      type="button"
      label="Sign Out"
      icon="pi pi-sign-out"
      (click)="onSignOut()"
    ></p-button>
  </div>
</p-menubar>
