<app-navigation-bar></app-navigation-bar>

<div class="grid justify-content-center my-5" style="min-height: 100vh">
  <div
    class="col-12 sm:col-12 md:col-6 flex justify-content-center align-items-start"
  >
    <app-reactive-form class="w-full md:w-auto"></app-reactive-form>
  </div>
  <div
    class="col-12 sm:col-12 md:col-6 flex justify-content-center align-items-start"
  >
    <img
      class="w-full sm:w-full md:w-auto"
      src="../assets/Group.png"
      alt="Image description"
    />
  </div>
</div>

<app-footer></app-footer>
