<p-dialog
  header="Insert Asset"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
  (onHide)="onCancel()"
>
  <div *ngIf="formSubmitted && form?.invalid">
    <span class="block error-message mb-3">
      All fields with * must be filled
    </span>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSave()">
    <div class="flex flex-wrap justify-content-center gap-4">
      <div class="card flex justify-content-center">
        <p-floatLabel>
          <input
            pInputText
            id="model-name"
            formControlName="modelName"
            autocomplete="model-name"
            [ngClass]="{
              'ng-invalid ng-dirty':
                formSubmitted && form.get('modelName')?.invalid
            }"
          />
          <label for="model-name"
            ><span class="required">*</span> Model Name</label
          >
        </p-floatLabel>
      </div>
      <div class="card flex justify-content-center">
        <p-floatLabel>
          <input
            pInputText
            id="type"
            formControlName="type"
            [ngClass]="{
              'ng-invalid ng-dirty': formSubmitted && form.get('type')?.invalid
            }"
          />
          <label for="type"><span class="required">*</span> Type</label>
        </p-floatLabel>
      </div>
      <div class="flex flex-column gap-2">
        <p-dropdown
          id="status"
          class="fixed-dropdown"
          [options]="assetStatuses"
          formControlName="status"
          [required]="true"
          [checkmark]="true"
          [showClear]="true"
          optionLabel="name"
          placeholder="Select a Status"
          aria-describedby="status-help"
        ></p-dropdown>
        <small id="status-help"> Default value is available. </small>
      </div>
      <div class="card flex justify-content-center">
        <p-floatLabel>
          <input
            pInputText
            type="number"
            id="cost"
            formControlName="cost"
            [ngClass]="{
              'ng-invalid ng-dirty': formSubmitted && form.get('cost')?.invalid
            }"
          />
          <label for="cost"><span class="required">*</span> Cost</label>
        </p-floatLabel>
      </div>
      <div class="card flex justify-content-center">
        <p-floatLabel>
          <p-dropdown
            id="username"
            class="fixed-dropdown"
            [options]="usernames"
            formControlName="username"
            optionLabel="label"
            placeholder="Select a User"
            [ngClass]="{
              'ng-invalid ng-dirty':
                formSubmitted && form.get('username')?.invalid
            }"
          ></p-dropdown>
          <label for="username">User</label>
        </p-floatLabel>
      </div>
      <div class="card flex justify-content-center gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="onCancel()" />
        <p-button label="Save" type="submit" />
      </div>
    </div>
  </form>
</p-dialog>
