<div class="card mt-3 px-5 pb-5">
  <!-- Table configuration -->
  <p-toast />
  <p-confirmPopup />
  <p-table
    #dt
    [value]="ticketsToBeDisplayed"
    dataKey="id"
    [paginator]="true"
    [rows]="pageSize"
    [rowsPerPageOptions]="[10, 25, 50]"
    styleClass="p-datatable-gridlines"
    [lazy]="true"
    [totalRecords]="totalElements"
    [tableStyle]="{
        'min-width': '75rem',
        'table-layout': 'fixed',
        }"
    (onLazyLoad)="onPageChange($event)"
    (onFilter)="onFilterApplied($event)"
  >
    <!-- Caption  -->
    <ng-template pTemplate="caption">
      <div class="grid">
        <div class="col-6 flex flex-row">
          <p-button
            *ngIf="isUser()"
            label="Create Ticket"
            class="mx-2"
            (click)="showDialog()"
          />
          <p-button
            class="mx-2"
            label="Clear"
            [outlined]="true"
            icon="pi pi-filter-slash"
            (click)="clear(dt)"
          />
        </div>
        <div class="col-6 text-right">
          <ng-container *ngIf="activeFilters.length > 0">
            <span class="p-text-secondary">
              <strong>Active Filters:</strong>
              <span *ngFor="let filter of activeFilters; let i = index">
                {{ filter.field | titlecase }}:
                <span *ngIf="commonService.isArray(filter.value)">{{
                  filter.value.join(", ")
                }}</span>
                <span *ngIf="!commonService.isArray(filter.value)">{{
                  filter.value
                }}</span>
                <span *ngIf="i < activeFilters.length - 1">|</span>
              </span>
            </span>
          </ng-container>
        </div>
      </div>
    </ng-template>
    <!-- Table Header with Pop-Up Filters -->
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5%" class="px-2 text-center">ID</th>
        <th style="width: 10%" class="px-0 text-center">
          Model Name
          <p-columnFilter
            type="text"
            field="modelName"
            display="menu"
            placeholder="Filter by Model Name"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 10%" class="px-0 text-center">
          Issued By
          <p-columnFilter
            type="text"
            field="username"
            display="menu"
            placeholder="Filter by Username"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 10%" class="px-0 text-center">
          Title
          <p-columnFilter
            type="text"
            field="title"
            display="menu"
            placeholder="Filter by Title"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 10%" class="px-0 text-center">
          Status
          <p-columnFilter
            type="text"
            field="status"
            display="menu"
            placeholder="Filter by Status"
            [showOperator]="false"
            [showAddButton]="false"
            [showMatchModes]="false"
            [showApplyButton]="false"
          >
            <ng-template pTemplate="filter" let-filter="filterCallback">
              <p-multiSelect
                [options]="statusOptions"
                [(ngModel)]="selectedStatus"
                placeholder="Select Status"
                [style]="{ 'min-width': '12rem', width: '100%' }"
                (onChange)="filter($event.value)"
              ></p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th style="width: 10%" class="px-0 text-center">
          Priority
          <p-columnFilter
            type="text"
            field="priority"
            display="menu"
            placeholder="Filter by Priority"
            [showOperator]="false"
            [showAddButton]="false"
            [showMatchModes]="false"
            [showApplyButton]="false"
          >
            <ng-template pTemplate="filter" let-filter="filterCallback">
              <p-multiSelect
                [options]="priorityOptions"
                [(ngModel)]="selectedPriority"
                placeholder="Select Priority"
                [style]="{ 'min-width': '12rem', width: '100%' }"
                (onChange)="filter($event.value)"
              ></p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th style="width: 10%" class="px-0 text-center">
          Issued At
          <p-columnFilter
            type="date"
            field="issuedAt"
            display="menu"
            placeholder="Filter by Issued At"
            [showOperator]="false"
            [showAddButton]="false"
            [showApplyButton]="false"
          ></p-columnFilter>
        </th>
        <th *ngIf="hasAdminRole()" style="width: 5%" class="px-0 text-center">
          Resolve
        </th>
        <th style="width: 5%" class="px-0 text-center">Info</th>
      </tr>
    </ng-template>
    <!-- Table Body -->
    <ng-template pTemplate="body" let-ticket>
      <tr>
        <td class="text-center">{{ ticket.id }}</td>
        <td class="text-center">{{ ticket.modelName }}</td>
        <td class="text-center">{{ ticket.username }}</td>
        <td class="text-center">{{ ticket.title }}</td>
        <td class="text-center">
          <p-tag
            [value]="ticket.status"
            [severity]="getSeverity(ticket.status)"
            [style]="{
              display: 'inline-block',
              width: '100px',
              'text-align': 'center'
            }"
          ></p-tag>
        </td>
        <td class="text-center">
          <p-tag
            [value]="ticket.priority"
            [severity]="getSeverity(ticket.priority)"
            [style]="{
              display: 'inline-block',
              width: '100px',
              'text-align': 'center'
            }"
          ></p-tag>
        </td>
        <td class="text-center">{{ ticket.issuedAt | date : "dd/MM/yyyy" }}</td>
        <td *ngIf="hasAdminRole()">
          <div class="flex justify-content-center">
            <p-button
              [rounded]="true"
              (onClick)="resolveTicket(ticket)"
              text="Resolve"
              icon="pi pi-ticket"
              severity="info"
              aria-label="resolve"
            />
          </div>
        </td>
        <td>
          <!-- add onClick -->
          <div class="flex justify-content-center">
            <p-button
              [rounded]="true"
              (onClick)="showDialog(ticket)"
              text="Info"
              icon="pi pi-info-circle"
              severity="info"
              aria-label="info"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog
  header="Resolve Ticket"
  [(visible)]="visibleResolve"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '50vw' }"
  (onHide)="onCancel()"
  ngClass="p-0"
>
  <div class="grid justify-content-center mb-5">
    <div class="col-6 bg-container border-round">
      <form [formGroup]="form" (ngSubmit)="onResolve()">
        <div class="field col-12 submit-description">
          <label for="description"
            ><span class="required">*</span>Description</label
          >
          <textarea
            id="description"
            formControlName="context"
            rows="12"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            [ngClass]="{
              'border-red-500': formSubmitted && form.get('context')?.invalid
            }"
          ></textarea>
        </div>
        <div class="card flex justify-content-center">
          <button
            pButton
            type="submit"
            styleClass="px-5"
            label="Submit"
            [loading]="loading"
          ></button>
        </div>
      </form>
    </div>
    <div class="col-6 bg-container border-round">
      <p-panel [header]="ticketInfo.title">
        <p><strong>Model Name:</strong> {{ ticketInfo.modelName }}</p>
        <p><strong>Username:</strong> {{ ticketInfo.username }}</p>
        <p><strong>Context:</strong> {{ ticketInfo.context }}</p>
        <p><strong>Type:</strong> {{ ticketInfo.ticketType }}</p>
        <p><strong>Status:</strong> {{ ticketInfo.status }}</p>
        <p><strong>Priority:</strong> {{ ticketInfo.priority }}</p>
        <p><strong>Issued At:</strong> {{ ticketInfo.issuedAt | date }}</p>
        <p><strong>Closed At:</strong> {{ ticketInfo.closedAt | date }}</p>
        <p>
          <strong>Resolution Details:</strong>
          {{ ticketInfo.resolutionDetails }}
        </p>
        <p>
          <strong>Last Updated At:</strong>
          {{ ticketInfo.lastUpdatedAt | date }}
        </p>
      </p-panel>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Ticket Details"
  [(visible)]="visibleDetails"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '50vw' }"
  (onHide)="onCancel()"
>
  <div *ngIf="ticketInfo">
    <p-panel [header]="ticketInfo.title">
      <p><strong>Model Name:</strong> {{ ticketInfo.modelName }}</p>
      <p><strong>Username:</strong> {{ ticketInfo.username }}</p>
      <p><strong>Context:</strong> {{ ticketInfo.context }}</p>
      <p><strong>Type:</strong> {{ ticketInfo.ticketType }}</p>
      <p><strong>Status:</strong> {{ ticketInfo.status }}</p>
      <p><strong>Priority:</strong> {{ ticketInfo.priority }}</p>
      <p><strong>Issued At:</strong> {{ ticketInfo.issuedAt | date }}</p>
      <p><strong>Closed At:</strong> {{ ticketInfo.closedAt | date }}</p>
      <p>
        <strong>Resolution Details:</strong>
        {{ ticketInfo.resolutionDetails }}
      </p>
      <p>
        <strong>Last Updated At:</strong>
        {{ ticketInfo.lastUpdatedAt | date }}
      </p>
    </p-panel>
  </div>
</p-dialog>
