<div class="card mt-3 px-5 pb-5">
  <p-table
    #dt2
    [value]="assetHistoryList"
    [paginator]="true"
    [rows]="pageSize"
    [totalRecords]="totalElements"
    [lazy]="true"
    styleClass="p-datatable-gridlines"
    [tableStyle]="{
      'min-width': '75rem',
      'table-layout': 'fixed',
      width: '100%'
    }"
    (onLazyLoad)="onPageChange($event)"
    (onFilter)="onFilterApplied($event)"
  >
    <!-- Caption  -->
    <ng-template pTemplate="caption">
      <div class="grid">
        <div class="col-6 flex flex-row">
          <p-button
            class="mx-2"
            label="Clear"
            [outlined]="true"
            icon="pi pi-filter-slash"
            (click)="clear(dt2)"
          />
        </div>
        <div class="col-6 text-right">
          <ng-container *ngIf="activeFilters.length > 0">
            <span class="p-text-secondary">
              <strong>Active Filters:</strong>
              <span *ngFor="let filter of activeFilters; let i = index">
                {{ filter.field | titlecase }}:
                <span *ngIf="commonService.isArray(filter.value)">{{
                  filter.value.join(", ")
                }}</span>
                <span *ngIf="!commonService.isArray(filter.value)">{{
                  filter.value
                }}</span>
                <span *ngIf="i < activeFilters.length - 1">|</span>
              </span>
            </span>
          </ng-container>
        </div>
      </div>
    </ng-template>
    <!-- Table Header with Pop-Up Filters -->
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5%" class="px-2 text-center">ID</th>
        <th style="width: 10%" class="px-0 text-center">
          Admin
          <p-columnFilter
            type="text"
            field="admin"
            display="menu"
            placeholder="Filter by Admin"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 10%" class="px-0 text-center">
          User
          <p-columnFilter
            type="text"
            field="user"
            display="menu"
            placeholder="Filter by User"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 10%" class="px-0 text-center">
          Model Name
          <p-columnFilter
            type="text"
            field="modelName"
            display="menu"
            placeholder="Filter by Model Name"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 10%" class="px-0 text-center">
          Status
          <p-columnFilter
            type="text"
            field="status"
            display="menu"
            placeholder="Filter by Status"
            [showOperator]="false"
            [showAddButton]="false"
            [showMatchModes]="false"
            [showApplyButton]="false"
          >
            <ng-template pTemplate="filter" let-filter="filterCallback">
              <p-multiSelect
                [options]="statusOptions"
                [(ngModel)]="selectedStatus"
                placeholder="Select Status"
                [style]="{ 'min-width': '12rem', width: '100%' }"
                (onChange)="filter($event.value)"
              ></p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th style="width: 10%" class="px-0 text-center">
          Action
          <p-columnFilter
            type="text"
            field="action"
            display="menu"
            placeholder="Filter by Action"
            [showOperator]="false"
            [showAddButton]="false"
            [showMatchModes]="false"
            [showApplyButton]="false"
          >
            <ng-template pTemplate="filter" let-filter="filterCallback">
              <p-multiSelect
                [options]="actionOptions"
                [(ngModel)]="selectedAction"
                placeholder="Select Action"
                [style]="{ 'min-width': '12rem', width: '100%' }"
                (onChange)="filter($event.value)"
              ></p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th style="width: 15%" class="px-0 text-center">
          Date
          <p-columnFilter
            type="date"
            field="date"
            display="menu"
            placeholder="Filter by Date"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </th>
        <th style="width: 25%" class="px-0 text-center">Comment</th>
      </tr>
    </ng-template>

    <!-- Table Body -->
    <ng-template pTemplate="body" let-history>
      <tr class="text-center">
        <td class="text-center">{{ history.id }}</td>
        <td class="text-center">{{ history.admin }}</td>
        <td class="text-center">{{ history.user || "-" }}</td>
        <td class="text-center">{{ history.modelName }}</td>
        <td class="text-center">
          <p-tag
            [value]="history.status"
            [severity]="getSeverity(history.status)"
            [style]="{
              display: 'inline-block',
              width: '100px',
              'text-align': 'center'
            }"
          ></p-tag>
        </td>
        <td class="text-center">
          <p-tag
            [value]="history.action"
            [severity]="getSeverity(history.action)"
            [style]="{
              display: 'inline-block',
              width: '100px',
              'text-align': 'center'
            }"
          ></p-tag>
        </td>
        <td class="text-center">{{ history.date | date : "medium" }}</td>
        <td class="text-center">{{ history.comment }}</td>
      </tr>
    </ng-template>

    <!-- Empty Table Message -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="text-center">No history records found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
